/* You can add global styles to this file, and also import other style files */

/* Add application styles & imports to this file! */

.modal-holder {
    animation-name: example;
    animation-duration: 0.3s;
}

@keyframes example {
    0% {
        transform: scale(0.5)
    }
    100% {
        transform: scale(1)
    }
}

::-webkit-scrollbar {
    display: none;
}