<!--==========================
      Portfolio Section
    ============================-->
<section id="portfolio" class="section-bg">
    <div class="container">

        <header class="section-header">
            <h3 class="section-title">Cronograma</h3>
        </header>


        <div class="row portfolio-container mt-5">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="assets/img/portfolio/app1.jpg" class="img-fluid" alt="">
                        <a href="assets/img/portfolio/app1.jpg" data-lightbox="portfolio" data-title="App 1"
                            class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                        <a href="#" class="link-details" title="More Details"><i class="ion ion-arrow-down-a"></i></a>
                    </figure>

                    <div class="portfolio-info">
                        <h4><a href="#">Calendario</a></h4>
                        <p>Tematica</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="assets/img/portfolio/web3.jpg" class="img-fluid" alt="">
                        <a href="assets/img/portfolio/web3.jpg" class="link-preview" data-lightbox="portfolio"
                            data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>
                        <a href="#" class="link-details" title="More Details"><i class="ion ion-arrow-down-a"></i></a>
                    </figure>

                    <div class="portfolio-info">
                        <h4><a href="#">Calendario</a></h4>
                        <p>Tematica</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="assets/img/portfolio/app2.jpg" class="img-fluid" alt="">
                        <a href="assets/img/portfolio/app2.jpg" class="link-preview" data-lightbox="portfolio"
                            data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>
                        <a href="#" class="link-details" title="More Details"><i class="ion ion-arrow-down-a"></i></a>
                    </figure>

                    <div class="portfolio-info">
                        <h4><a href="#">Calendario</a></h4>
                        <p>Tematica</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- #portfolio -->